.button{
    border-radius: 45px;
    background-color: teal;
    border-color: whitesmoke;
}

button:hover{
    background-color: teal!important;
}

.koo{
    background-color:teal;
    padding-bottom: .3rem;
}

.card{
    background-color: whitesmoke;
    width:23rem!important;
    text-align: left;  
}

.form-control{
    width: 220*32;
    border-radius: 45px;
    border: 1px solid white;
    box-shadow: 4px 3px 4px #888888;
}
.form-group {
    text-align: left;
    font-style: bold;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.d-flex {
    display: inline-table!important;
    border: black;
    box-shadow: 4px 3px 4px #888888;
    width: 45px;
}
.home:link{
    text-decoration: none;
    font-size: 12px;
}
.home {
    color: teal;
}
.home:hover{
    color:black;
}



