.nav-container {
  width: 100vw;
}

.navbar {
  background-color: teal !important;
  padding-left: 30px;
}

@media screen and (min-width: 769px) {
  .nav-elements {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .nav-elements {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.active {
  color: #fff !important;
  font-weight: 600;
}

.userprofile-container {
  width: fit-content;
}
