.nav-container {
  width: 100vw;
}

.navbar {
  background-color: teal !important;
  padding-left: 30px;
}

.nav-elements {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.active {
  color: #fff !important;
  font-weight: 600;
}
